
form{
color: rgb(126, 93, 61);

}
fieldset {
  background-size: cover;
  background-position: center;
  margin-right: 500px;
  margin-left: 500px;
}

legend {
  background-color: rgb(179, 132, 86);
  color:rgb(56, 41, 19);
  padding: 5px 10px;
}

input {
  margin: 5px;
  background-color: rgb(179, 132, 86);
  color:rgb(56, 41, 19);
}
button{
  outline: none;
  display: block;
  font-size: 16px;
  line-height: 1;
  padding: 5px 5px;
  margin-left: 150px;
  border-radius: 30px;
  background:rgb(182, 139, 96) ;
  color: rgb(107, 52, 26);
  cursor: pointer;
  transition: all 0.2s linear;
}
button:hover,
button:focus{
    background:rgb(110, 79, 38);
}
button:active{
    background:rgb(85, 58, 23);
}



