h1{
    color: white;
    margin-left: 600px;
    margin-top: 170px;
    color: rgb(158, 119, 80);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    color: white;
    margin-left: 650px;
    color: rgb(158, 119, 80);
    font-family:Arial, Helvetica, sans-serif;
}
footer h3{
    color:  rgb(158, 119, 80);
    margin-left: 1100px;
    margin-top: 170px;
}
.item{
    padding: 10px;
}
.btn-outline{
    outline: none;
    margin-left: 1150px;
    margin-top: -90px;
    display: block;
    font-size: 16px;
    line-height: 1;
    padding: 10px 15px;
    border-radius: 30px;
    background:rgb(182, 139, 96) ;
    color: rgb(107, 52, 26);
    cursor: pointer;
    transition: all 0.2s linear;
}
.btn{
    outline: none;
    margin-left: 1250px;
    margin-top: -70px;
    display: block;
    font-size: 16px;
    line-height: 1;
    padding: 10px 15px;
    border-radius: 30px;
    background:rgb(182, 139, 96) ;
    color: rgb(107, 52, 26);
    cursor: pointer;
    transition: all 0.3s linear;
}
.btn:hover,
.btn:focus{
    background:rgb(110, 79, 38);
}
.btn:active{
    background:rgb(85, 58, 23);
}
.btn-outline:hover,
.btn-outline:focus{
    background:rgb(110, 79, 38);
}
.btn-outline:active{
    background:rgb(85, 58, 23);
}