*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img-slider{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 10px;
    margin-top: 400px;
    position:sticky;
 
}
.img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
.img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 7s;
    transition-property: clip-path;
}




.img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}

.img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
}
.img-slider .slide .info h2{
    color: peru;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}
.img-slider .slide .info p{
    color: peru;
    background: burlywood;
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
}
.img-slider .navigation{
    z-index: 10;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.img-slider .navigation .btn{
    background: burlywood;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    
}
.img-slider .navigation .btn.active{
    background: white;
    box-shadow: 0 0 2px white;
 
}




























































