element.style {
    height: 302.281px;
}

.img-container  {
   
   padding-left: 55px;
}
.btn{
    padding-left: 250px;
    color:rgb(180, 147, 115);
}
/*
body {
    font-family: Philosopher;
    font-weight: 400;
    font-style: normal;
    opacity: 1;
    visibility: visible;
    
}
*/
.details {
    margin-left: 590px;
    margin-right: 40px;
    margin-bottom: 10px;
    border: 5px solid rgb(180, 147, 115);
    display: block;
  
}
.title{
    font-family: Philosopher;
    font-weight: 400;
    font-style: normal;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 25px;
}
.desc{
    font-family: Philosopher;
    position: relative;
    padding: 40px 20px 50px;
    font: 15px/20px "Source Sans Pro", Arial, Helvetica, sans-serif;
    color: peru;
    line-height: 35px;
}
div {
    display: block;
}

.price{
    border : 1px solid #C5A46D; ; 
    margin-right: 0px;
    margin-left: 580px;
    border-left-width: 5px;
    border-bottom-width: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

ol li {
    display: inline-block;
    margin: 15px 0 0;
    padding-left: 0;
    color:#C5A46D; 
}






